.why-us-section {
    position: relative;
    max-width: 1250px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 50px;
}
.why-us-section .why-us-header {
    position: sticky;
    top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
    width: 50%;
}
.why-us-section .why-us-header h2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 1.05;
    color: #222;
}
.why-us-section .why-us-header .why-us-text {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
}
.why-us-section .why-us-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    width: 50%;
}

@media (max-width: 850px) {
    .why-us-section {
        flex-direction: column;
        gap: 50px;
    }
    .why-us-section .why-us-header {
        width: 100%;
        position: static;
        align-items: center;
        text-align: center;
        gap: 15px;
    }
    .why-us-section .why-us-header .why-us-badge {
        margin-bottom: 10px;
    }
    .why-us-section .why-us-content {
        width: 100%;
    }
}
@media (max-width: 545px) {
    .why-us-section .why-us-header .why-us-badge {
        font-size: 12px;
    }
    .why-us-section .why-us-header h2 {
        font-size: 30px;
    }
    .why-us-section .why-us-header .why-us-text {
        font-size: 14px;
    }
    .why-us-section .why-us-content {
        gap: 25px;
    }
}
@media (max-width: 400px) {
    .why-us-section .why-us-header h2 {
        font-size: 28px;
    }
}