footer {
    width: 100%;
    padding: 80px 80px 40px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1013%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(4%2c 3%2c 73%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c274 C 288%2c231 1152%2c102 1440%2c59L1440 560L0 560z' fill='rgba(8%2c 7%2c 83%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c392 C 288%2c405 1152%2c444 1440%2c457L1440 560L0 560z' fill='rgba(7%2c 5%2c 103%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1013'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
    gap: 25px;
}
footer .footer-container {
    max-width: 1250px;
    width: 100%;
    display: flex;
    gap: 100px;
}
footer .footer-container .footer-logo-content {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
footer .footer-container .footer-logo-content p {
    color: rgb(255, 255, 255, .6);
    font-size: 14px;
    line-height: 1.5;
}
footer .footer-container .footer-logo-content .social-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}
footer .footer-container .footer-logo-content .social-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .7;
    transition: all .2s ease;
    padding: 8px;
    border-radius: 5px;
    gap: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    background: rgb(255, 255, 255, .1);
    &:hover {
        opacity: 1;
        background: rgb(255, 255, 255, .2);
    }
}
footer .footer-container .footer-logo-content .social-links a img {
    width: 20px;
    height: auto;
}

footer .divider {
    width: 100%;
    height: 1px;
    background: rgb(255, 255, 255, .1);
    margin: 10px 0;
}

footer .footer-bottom {
    color: rgb(255, 255, 255, .6);
    font-size: 14px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
footer .footer-bottom p a {
    color: rgb(255, 255, 255, .8);
    text-decoration: none;
    transition: all .2s ease;
    &:hover {
        color: #fff;
    }
}

@media (max-width: 1270px) {
    footer .footer-container {
        gap: 25px;
    }
}
@media (max-width: 1200px) {
    footer .footer-container {
        justify-content: space-between;
    }
}
@media (max-width: 910px) {
    footer .footer-container {
        flex-direction: column;
        gap: 50px;
    }
    footer .footer-container .footer-logo-content {
        width: 100%;
    }
}
@media (max-width: 820px) {
    footer {
        padding: 50px 30px 15px 30px;
    }
}
@media (max-width: 650px) {
    footer .footer-bottom {
        flex-direction: column;
        text-align: center;
    }
}
@media (max-width: 500px) {
    footer {
        padding: 50px 25px 15px 25px;
    }
}