.experience-section {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    background: linear-gradient(90deg, #3a38c7 50%, #4730c7 100%);
    padding: 50px;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.experience-section .stack-icon {
    position: absolute;
    top: -10px;
    left: -50px;
    width: 210px;
    height: 210px;
    opacity: .05;
}
.experience-section .stats-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.experience-section .stats-text h2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 1.05;
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.experience-section .stats-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    width: 100%;
}
.experience-section .stat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-align: center;
}
.experience-section .stat h3 {
    font-size: 46px;
    font-weight: 600;
    line-height: 1.05;
    color: #fff;
}
.experience-section .stat p {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    color: #ccc;
}

@media (max-width: 1000px) {
    .experience-section {
        flex-direction: column;
        gap: 50px;
        padding: 50px;
    }
    .experience-section .stack-icon {
        top: -50px;
    }
    .experience-section .stats-text h2 {
        text-align: center;
        font-size: 40px;
    }
    .experience-section .stats-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
    }
}
@media (max-width: 640px) {
    .experience-section {
        padding: 50px 25px;
    }
    .experience-section .stats-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 545px) {
    .experience-section .stats-text h2 {
        font-size: 34px;
    }
    .experience-section .stat h3 {
        font-size: 40px;
    }
    .experience-section .stat p {
        font-size: 14px;
    }
}
@media (max-width: 400px) {
    .experience-section .stats-text h2 {
        font-size: 30px;
    }
    .experience-section .stat h3 {
        font-size: 36px;
    }
}