.services-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.services-section .services-container {
    max-width: 1350px;
    width: 100%;
    padding: 50px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 70px;
}
.services-section .services-container .services-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 15px;
    max-width: 550px;
    width: 100%;
}
.services-section .services-container .services-header h2 {
    font-size: 24px;
    font-weight: 600;
    color: #3a38c7;
}
.services-section .services-container .services-header p {
    font-size: 50px;
    font-weight: 600;
    line-height: 1.05;
    color: #222;
}
.services-section .services-container .services-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
