.service-card {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 270px;
    height: 370px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    transition: all .3s ease;
    will-change: transform;
    &:hover {
        transform: scale(1.05);
        .service-card-overlay {
            background: rgba(0, 0, 0, 0.75);
        }
        .service-card-content .service-card-body {
            opacity: 1;
            transform: translateY(0);
        }
    }
}
.service-card .service-card-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
.service-card .service-card-overlay {
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    transition: all .3s ease;
    z-index: 1;
}
.service-card .service-card-content {
    z-index: 2;
    padding: 25px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 25px;
    height: 100%;
}
.service-card .service-card-content .service-card-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}
.service-card .service-card-content .service-card-header span {
    font-size: 14px;
    color: #eee;
}
.service-card .service-card-content .service-card-header h3 {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
}
.service-card .service-card-content .service-card-body {
    opacity: 0;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    transform: translateY(10px);
    transition: all .3s ease;
}
.service-card .service-card-content .service-card-body p {
    font-size: 16px;
    line-height: 1.3;
    color: #eee;
}
.service-card .service-card-content .service-card-body .service-card-btn {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}
.service-card .service-card-content .service-card-body .service-card-btn img {
    width: 20px;
    height: auto;
}

@media (max-width: 545px) {
    .service-card .service-card-content .service-card-body p {
        font-size: 14px;
    }
}
@media (max-width: 310px) {
    .service-card {
        width: 230px;
        height: 330px;
    }
}