---
    import './Navbar.css'
    import logo from '../../assets/images/logo2.png'
---

<nav>
    <div class="nav-container">
        <div class="logo-container">
            <a href="/">
                <img src={logo.src} alt="Logo a color de Data 3000 S.A.S">
            </a>
        </div>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/servicios">Servicios</a></li>
            <li><a href="/nosotros">Nosotros</a></li>
            <li><a href="/contactanos">Contáctanos</a></li>
        </ul>
        <button>Mail</button>
    </div>
</nav>