.service-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 40px;
    border-bottom: 1px dashed rgb(58, 56, 199, .2);
    padding: 50px 0;
}
.service-card .service-info {
    background:
    radial-gradient(circle, #00000000 0%, #fff 90%),
    conic-gradient(from 90deg at 1px 1px, #fff 90deg, #eee 0)
    0 0/50px 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 25px;
    width: 50%;
}
.service-card .service-info .service-card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.service-card .service-info .service-card-header .icon-container {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgba(58, 56, 199, .1);
    color: #3A38C7;
    font-size: 20px;
}
.service-card .service-info .service-card-header h3 {
    font-size: 34px;
    font-weight: 600;
    color: #222;
}
.service-card .service-info .service-card-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    color: #333;
}
.service-card .service-info .service-card-body p {
    font-size: 18px;
    line-height: 1.5;
}
.service-card .service-info .service-card-body ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
}
.service-card .service-info .service-card-body ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #666;
    font-size: 14px;
}
.service-card .service-info .service-card-body ul li .icon {
    color: #3A38C7;
    font-size: 12px;
}
.service-card .service-info .service-card-body .service-card-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    gap: 10px;
    padding: 10px 25px;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    color: #fff;
    background: #3A38C7;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    transition: all .2s ease;
    &:hover {
        background: #302ea5;
        .icon {
            transform: translateX(3px);
        }
    }
}
.service-card .service-info .service-card-body .service-card-btn .icon {
    transition: all .2s ease;
}

.service-card .service-img {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.service-card .service-img img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 5px;
}

@media (max-width: 1050px) {
    .service-card {
        flex-direction: column;
        gap: 50px;
    }
    .service-card .service-info {
        width: 100%;
    }
    .service-card .service-img {
        width: 100%;
    }
}

@media (max-width: 545px) {
    .service-card .service-info .service-card-header h3 {
        font-size: 28px;
    }
    .service-card .service-info .service-card-body .service-card-btn {
        font-size: 12px;
    }
    .service-card .service-img img {
        height: 400px;
    }
}
@media (max-width: 450px) {
    .service-card .service-img img {
        height: 320px;
    }
    .service-card .service-info .service-card-body .service-card-btn {
        width: 100%;
    }
}
@media (max-width: 400px) {
    .service-card .service-info .service-card-header h3 {
        font-size: 24px;
    }
    .service-card .service-info .service-card-body p {
        font-size: 16px;
    }
    .service-card .service-info .service-card-body ul li {
        font-size: 12px;
    }
}