.clients-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clients-section .clients-container {
    max-width: 1250px;
    width: 100%;
    padding: 0 25px 100px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 70px;
}
.clients-section .clients-container .clients-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 15px;
    max-width: 600px;
    width: 100%;
}
.clients-section .clients-container .clients-header h2 {
    font-size: 48px;
    font-weight: 600;
    line-height: 1.05;
    color: #222;
}
.clients-section .clients-container .clients-header .clients-header-line {
    width: 100%;
    height: 3px;
    background: #3A38C7;
    background: -webkit-linear-gradient(90deg, rgba(58, 56, 199, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -moz-linear-gradient(90deg, rgba(58, 56, 199, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(90deg, rgba(58, 56, 199, 1) 0%, rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3A38C7",
            endColorstr="#FFFFFF",
            GradientType=1);
}

.clients-section .clients-container .clients-content {
    width: 100%;
    height: 150px;
}

@media (max-width: 850px) {
    .clients-section .clients-container {
        gap: 50px;
    }
}
@media (max-width: 545px) {
    .clients-section .clients-container .clients-header .clients-badge {
        font-size: 12px;
    }
    .clients-section .clients-container .clients-header h2 {
        font-size: 40px;
    }
}
@media (max-width: 450px) {
    .clients-section .clients-container {
        gap: 30px;
    }
    .clients-section .clients-container {
        padding: 0 25px 50px 25px;
    }
}
@media (max-width: 400px) {
    .clients-section .clients-container .clients-header h2 {
        font-size: 34px;
    }
    .clients-section .clients-container .clients-header .clients-description {
        font-size: 14px;
    }
}